<div class = "col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
  <p>
    This Splurty was brought to you by <a target="_blank" href="https://github.com/sgvvannabe">Charlie.</a> A wannabe web developer in process to acquire the technical skills to become the professional developer.
  </p>
  <br />

  <div class = "col-xs-12 col-sm-4">
  	<%= image_tag 'charlie.jpg', class: 'img-responsive' %>
  </div>

  <div class = "col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class = "text-center">Charlie Lee</h2>
  	<br />
  	<p>
  		Charlie is currently a web devloper in process.
  	<br /> 
  		His personal goal in coding is to attend Hackathons and be able to fully participate in it, as well as fluently being able to whiteboard on the spot.
	<br /> 
  		His professional goal in coding is learn a lot to start off as a Jr. Developer (full time) and to go on to become a Sr. Software engineer.
  	</p>
  </div>
  <br class = "clear" />

  <br />
  <br />
  <br />
  <br />

</div>